@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

tr, td, thead, tbody, th {
    padding: 10px;
    text-align: start;
    border-bottom: solid;
    border-color: rgb(231, 231, 231);
}
