@tailwind base;
@tailwind components;
@tailwind utilities;

table {
    width: 100%;
    border-radius: 10px;
    overflow: hidden;
}

tr, td, thead, tbody, th {
    padding: 10px;
    text-align: start;
    border-bottom: solid;
    border-color: rgb(231, 231, 231);
}

input, textarea {
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: solid;
    border-color: rgb(220, 220, 220);
}

form > label {
    font-size: 18px;
    font-weight: 500;
}