@tailwind base;
@tailwind components;
@tailwind utilities;


th, td, tr {
  /* border: solid; */
  /* border-color: rgb(186, 186, 186); */
  padding: 10px;
  font-weight:500;
  color: rgb(37, 37, 37);
  text-align: start;

}

tr {
  width: 100%;
  border-bottom: solid;
  border-color: rgb(233, 233, 233);
}

table {
  border-radius: 10px;
  overflow: hidden;
}


th {
  background-color: rgb(242, 242, 242);
}

thead {
  background-color: rgb(237, 237, 237);
}

button {
  background-color: rgb(5, 1, 237);
  color: white;
  padding-left: 15px;
  padding-right: 15px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 10px;
}

button:hover {
  border-color: rgb(224, 224, 224);
  background-color: black;
  color: white;
}
